@media screen and (max-width: 430px){

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: var(--tipografia1);
    }


    header{

    }

    #menu{
        display: none;
      }  

    .navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .list-item{

    }

    .parallax{
        flex-direction: column;
        text-align: center;
        padding: 10rem;
        height: 25rem;
    }

    .parallax h2{
        font-size: 1.5rem;
        padding: 1rem;
        width: 300px;
    }

    .parallax iframe{
    }

    .navbar-logo{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .header-section{
        flex-direction: column-reverse;
        padding-top: 7rem;
        height: 100%;
        text-align: center;
    }


    .none{
        display: none;
    }

    .header-section p{
        display: none;
    }

    .header-section-info h2{
        font-size: 1.5rem;
    }
    
    .header-section-info h2 span{
        color: var(--color2);
    }

    .servicios-bg{
        height: 100%;
        margin-top: 3rem;
    }

    .servicios-grid{
        grid-template-columns: repeat(1, auto);
    }

    .choose-us{
        text-align: center;
        flex-direction: column-reverse;
    }

    .choose-us-info{
        text-align: center;
    }

    .choose-us-grid{
        grid-template-columns: repeat(1, auto);
    }

    .profesional{
        flex-direction: column-reverse;
        text-align: center;
    }

    .profesional-info{
        width: 90%;
    }

    .process-grid{
        flex-direction: column;
    }

    .process-info{
        text-align: center;
        width: 100%;
    }

    .arrows{
        display: none;
    }

    .galeria{
        margin-bottom: 5rem;
    }

    .galeria-grid{
        grid-template-columns: repeat(2, auto);
    }

    .maps{
        margin-top: 10rem;
    }

    .maps-grid{
        flex-direction: column;
    }

    .maps-grid-google iframe{
        width: 100%;
    }

    .maps-grid-form{
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 1rem;
    }

    .maps-grid-form form{
        width: 100%;
    }

    .maps-grid-form input{
        width: 100%;
    }
    
    .maps-grid-form textarea{
        width: 100%;
    }

    .formulario-modal{
        width: 100%;
    }

    .contenido-modal{
        width: 90%
    }

    .footer-links-row{
        flex-direction: column;
        gap: 1rem;
    }

    .waste{
        width: 90%;
    }

    footer{

    }
}